[Unit]
Description=Vaultwarden
After=slfhst-network.network

[Container]
Image=docker.io/vaultwarden/server:1.37.2
AutoUpdate=registry
Network=slfhst-network.network
Volume=/srv/data/vaultwarden:/data:Z
Secret=vaultwarden_admin_token,type=env,target=ADMIN_TOKEN
Environment=DOMAIN=https://${VAULT_HOST}
Environment=SIGNUPS_ALLOWED=false

[Service]
Restart=always
